@charset "UTF-8";
@import '~normalize.css';
@font-face {
  font-family: "Mulish";
  font-weight: 1000;
  src: url("/src/fonts/mulish-extrablack.woff2") format("woff2"), url("/src/fonts/mulish-extrablack.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-weight: 300;
  src: url("/src/fonts/mulish-light.woff2") format("woff2"), url("/src/fonts/mulish-extrablack.woff") format("woff");
}
html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Mulish";
  font-weight: 300;
  background-color: #FFAA05;
  color: #000000;
  line-height: 1.4;
  font-size: 16px;
}
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1600px) {
  .video-bg {
    max-width: 2560px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/
.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1240px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1600px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 2560px;
    margin: 0 auto;
  }
}

.link-main {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 10px 20px;
  line-height: 1;
  font-weight: 1000;
  color: #FFAA05;
  background: #FFFFFF;
  border-radius: 80px;
  border: 2px solid transparent;
  outline: none;
}
.link-main:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.53317 12.8667C7.41095 12.7445 7.34695 12.5889 7.34117 12.4C7.3354 12.2111 7.39384 12.0556 7.51651 11.9333L10.7832 8.66668H3.33317C3.14428 8.66668 2.98584 8.60268 2.85784 8.47468C2.72984 8.34668 2.66606 8.18846 2.66651 8.00001C2.66651 7.81112 2.73051 7.65268 2.85851 7.52468C2.98651 7.39668 3.14473 7.3329 3.33317 7.33335H10.7832L7.51651 4.06668C7.39428 3.94446 7.33584 3.7889 7.34117 3.60001C7.34651 3.41112 7.41051 3.25557 7.53317 3.13335C7.6554 3.01112 7.81095 2.95001 7.99984 2.95001C8.18873 2.95001 8.34428 3.01112 8.46651 3.13335L12.8665 7.53335C12.9332 7.5889 12.9805 7.65846 13.0085 7.74201C13.0365 7.82557 13.0503 7.91157 13.0498 8.00001C13.0498 8.0889 13.0361 8.17223 13.0085 8.25001C12.981 8.32779 12.9336 8.40001 12.8665 8.46668L8.46651 12.8667C8.34428 12.9889 8.18873 13.05 7.99984 13.05C7.81095 13.05 7.6554 12.9889 7.53317 12.8667Z' fill='%23FFAA05'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.link-main:focus:not(:hover) {
  border-color: #000000;
}
@media (min-width: 1024px) {
  .link-main {
    padding: 17px 32px;
    font-size: 20px;
    gap: 10px;
  }
  .link-main:hover {
    color: #000000;
  }
  .link-main:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.53317 12.8667C7.41095 12.7445 7.34695 12.5889 7.34117 12.4C7.3354 12.2111 7.39384 12.0556 7.51651 11.9333L10.7832 8.66668H3.33317C3.14428 8.66668 2.98584 8.60268 2.85784 8.47468C2.72984 8.34668 2.66606 8.18846 2.66651 8.00001C2.66651 7.81112 2.73051 7.65268 2.85851 7.52468C2.98651 7.39668 3.14473 7.3329 3.33317 7.33335H10.7832L7.51651 4.06668C7.39428 3.94446 7.33584 3.7889 7.34117 3.60001C7.34651 3.41112 7.41051 3.25557 7.53317 3.13335C7.6554 3.01112 7.81095 2.95001 7.99984 2.95001C8.18873 2.95001 8.34428 3.01112 8.46651 3.13335L12.8665 7.53335C12.9332 7.5889 12.9805 7.65846 13.0085 7.74201C13.0365 7.82557 13.0503 7.91157 13.0498 8.00001C13.0498 8.0889 13.0361 8.17223 13.0085 8.25001C12.981 8.32779 12.9336 8.40001 12.8665 8.46668L8.46651 12.8667C8.34428 12.9889 8.18873 13.05 7.99984 13.05C7.81095 13.05 7.6554 12.9889 7.53317 12.8667Z' fill='%23000000'/%3E%3C/svg%3E");
  }
}

.arrow-top {
  width: 36px;
  height: 36px;
  right: 16px;
  bottom: 16px;
}
@media (min-width: 576px) {
  .arrow-top {
    right: 30px;
  }
}
@media (min-width: 1024px) {
  .arrow-top {
    bottom: 100px;
    width: 50px;
    height: 50px;
  }
}
.arrow-top:hover {
  color: #FFAA05;
}
.arrow-top__svg {
  width: 12px;
}
@media (min-width: 1024px) {
  .arrow-top__svg {
    width: 16px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 16px;
  background-color: #FFFFFF;
  opacity: 1;
  transition: width 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 40px;
  background-color: #FFAA05;
}

.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  background-color: #000000;
}
@media (min-width: 1024px) {
  .header {
    padding: 30px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 200px;
}
@media (min-width: 1024px) {
  .header__logo {
    width: 360px;
  }
}

.navigation__list {
  display: none;
  position: absolute;
  overflow-y: auto;
  background-color: #000000;
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
@media (min-width: 1024px) {
  .navigation__list {
    padding-top: 146px;
    padding-bottom: 146px;
  }
}
@media (min-width: 1240px) {
  .navigation__list {
    position: static;
    gap: 8px;
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0;
  }
}
.navigation__item {
  margin-bottom: 40px;
}
.navigation__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1240px) {
  .navigation__item {
    margin-bottom: 0;
  }
}
.navigation__link {
  font-weight: 1000;
  line-height: 1;
  white-space: nowrap;
  outline: 2px solid transparent;
  outline-offset: 5px;
  padding: 0 5px;
}
.navigation__link:focus:not(:hover) {
  outline-color: #FFAA05;
}
.navigation__link_active {
  color: #FFAA05;
  pointer-events: none;
}
@media (min-width: 1024px) {
  .navigation__link:hover {
    color: #FFAA05;
  }
}
@media (min-width: 1240px) {
  .navigation__link {
    display: block;
    font-size: 16px;
    padding: 16px 30px;
    border: 2px solid #FFAA05;
    border-radius: 80px;
    outline: none;
  }
  .navigation__link:focus:not(:hover) {
    background-color: #FFAA05;
  }
  .navigation__link_active {
    color: inherit;
    pointer-events: none;
    background-color: #FFAA05;
  }
}
.navigation__button {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/menu.svg) center/contain;
}
@media (min-width: 1024px) {
  .navigation__button {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1240px) {
  .navigation__button {
    display: none;
  }
}
.navigation__button_active {
  background: url(../img/cross.svg);
}

.hero {
  position: relative;
  background-image: url("../img/poster@1x.jpg");
  background-image: image-set(url("../img/poster@2x.webp") 2x, url("../img/poster@1x.webp") 1x, url("../img/poster@2x.jpg") 2x, url("../img/poster@1x.jpg") 1x);
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../img/poster-xl@2x.jpg");
    background-image: image-set(url("../img/poster-xl@1x.webp"), url("../img/poster-xl@2x.webp"), url("../img/poster-xl@1x.jpg"), url("../img/poster-xl@2x.jpg"));
  }
}
@media (min-width: 1240px) {
  .hero {
    background-image: url("../img/poster-xl@2x.jpg");
    background-image: image-set(url("../img/poster-xxl@4x.jpg") 2x, url("../img/poster-xl@2x.jpg") 1x, url("../img/poster-xxl@4x.webp") 2x, url("../img/poster-xl@2x.webp") 1x);
  }
}
@media (min-width: 1600px) {
  .hero {
    background-image: url("../img/poster-xxl@4x.jpg");
    background-image: image-set(url("../img/poster-xxl@4x.jpg"), url("../img/poster-xxl@4x.webp"));
    max-width: 2560px;
    margin: 0 auto;
  }
}
.hero__container {
  position: relative;
  z-index: 10;
  min-height: 554px;
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 1024px) {
  .hero__container {
    padding-bottom: 74px;
  }
}
@media (min-width: 1240px) {
  .hero__container {
    min-height: 780px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1600px) {
  .hero__container {
    min-height: 100vh;
  }
}
.hero__title {
  font-weight: 1000;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFAA05;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 52px;
    margin-bottom: 40px;
  }
}
.hero__subtitle {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 1024px) {
  .hero__subtitle {
    font-size: 40px;
  }
}
.hero::before {
  content: "";
  position: absolute;
  z-index: 5;
  display: block;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.38%, #000000 100%);
}
.hero__video-bg {
  z-index: 3;
}

.about {
  padding: 80px 0;
}
@media (min-width: 1024px) {
  .about {
    padding: 100px 0;
  }
}
@media (min-width: 1024px) {
  .about__container {
    display: grid;
    grid-template-columns: 48% 1fr;
    gap: 40px 20px;
    grid-template-areas: "title title" "slider content";
  }
}
@media (min-width: 1240px) {
  .about__container {
    gap: 40px 30px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "slider title" "slider content";
  }
}
.about__title {
  font-weight: 1000;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .about__title {
    font-size: 52px;
    grid-area: title;
    margin-bottom: 0;
  }
}
.about__content {
  margin-bottom: 13px;
  background-image: url("../img/paw.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .about__content {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "description list" "link list";
    gap: 24px 92px;
    background-position: right bottom;
  }
}
@media (min-width: 1024px) {
  .about__content {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-area: content;
    gap: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    background-position: center;
    grid-template-areas: "description" "list" "link";
  }
}
@media (min-width: 1240px) {
  .about__content {
    gap: 60px;
  }
}
@media (min-width: 1600px) {
  .about__content {
    min-height: 600px;
    height: min-content;
  }
}
.about__description {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about__description {
    grid-area: description;
  }
}
.about__link {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about__link {
    grid-area: link;
    margin-bottom: 0;
    justify-self: start;
  }
}
@media (min-width: 1024px) {
  .about__link {
    align-self: end;
  }
}
.about__count-list {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 20px;
  font-weight: 1000;
  color: #FFFFFF;
  line-height: 1;
}
@media (min-width: 768px) {
  .about__count-list {
    grid-area: list;
  }
}
@media (min-width: 1024px) {
  .about__count-list {
    grid-template-columns: repeat(2, 200px);
  }
}
.about__count {
  font-size: 40px;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .about__count {
    font-size: 52px;
  }
}
@media (min-width: 1024px) {
  .about__picture {
    grid-area: slider;
  }
}
.about__image {
  border-radius: 16px;
}

.location {
  position: relative;
}
.location__list {
  position: relative;
  z-index: 10;
  --opacity: 0;
  --background-image: none;
}
@media (min-width: 1024px) {
  .location__list {
    display: flex;
    min-height: 552px;
    justify-content: space-between;
  }
  .location__list::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }
  .location__list::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    opacity: var(--opacity);
    background-image: var(--background-image);
  }
}
@media (min-width: 1240px) {
  .location__list {
    min-height: 780px;
  }
}
@media (min-width: 1600px) {
  .location__list {
    min-height: 100vh;
    max-width: 2560px;
    margin: 0 auto;
  }
}
.location__item {
  position: relative;
  padding: 50px 16px;
  min-height: 273px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
@media (min-width: 576px) {
  .location__item {
    padding-left: 32px;
    padding-right: 32px;
    min-height: 200px;
  }
}
@media (min-width: 1024px) {
  .location__item {
    background-image: none;
    width: 20%;
    padding: 0;
  }
}
.location__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-size: cover;
  background-position: center;
}
@media (min-width: 1024px) {
  .location__item::before {
    background: none;
  }
}
.location__item:not(:last-child)::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 5;
  background-color: #FFFFFF;
  bottom: 0;
  right: 50%;
  height: 1px;
  width: 288px;
  transform: translate(50%, 1px);
}
@media (min-width: 1024px) {
  .location__item:not(:last-child)::after {
    bottom: 50%;
    right: 0;
    height: calc(100% - 186px);
    width: 1px;
    transform: translate(1px, 50%);
  }
}
@media (min-width: 1240px) {
  .location__item:not(:last-child)::after {
    height: calc(100% - 200px);
  }
}
.location__item_mammals:before {
  background-image: url(../img/mammals.jpg);
  background-image: image-set(url(../img/mammals_2x.webp) 2x, url(../img/mammals_2x.jpg) 2x, url(../img/mammals.webp) 1x, url(../img/mammals.jpg) 1x);
}
@media (min-width: 576px) {
  .location__item_mammals:before {
    background-image: url(../img/mammals_tablet.jpg);
    background-image: image-set(url(../img/mammals_2x.webp) 2x, url(../img/mammals_2x.jpg) 2x, url(../img/mammals.webp) 1x, url(../img/mammals.jpg) 1x);
  }
}
.location__item_birds:before {
  background-image: url(../img/birds.jpg);
  background-image: image-set(url(../img/birds_2x.webp) 2x, url(../img/birds_2x.jpg) 2x, url(../img/birds.webp) 1x, url(../img/birds.jpg) 1x);
}
@media (min-width: 576px) {
  .location__item_birds:before {
    background-image: url(../img/birds_tablet.jpg);
    background-image: image-set(url(../img/birds_tablet_2x.webp) 2x, url(../img/birds_tablet_2x.jpg) 2x, url(../img/birds_tablet.webp) 1x, url(../img/birds_tablet.jpg) 1x);
  }
}
.location__item_reptiles:before {
  background-image: url(../img/reptiles.jpg);
  background-image: image-set(url(../img/reptiles_2x.webp) 2x, url(../img/reptiles_2x.jpg) 2x, url(../img/reptiles.webp) 1x, url(../img/reptiles.jpg) 1x);
}
@media (min-width: 576px) {
  .location__item_reptiles:before {
    background-image: url(../img/reptiles_tablet.jpg);
    background-image: image-set(url(../img/reptiles_tablet_2x.webp) 2x, url(../img/reptiles_tablet_2x.jpg) 2x, url(../img/reptiles.webp) 1x, url(../img/reptiles.jpg) 1x);
  }
}
.location__item_water:before {
  background-image: url(../img/water.jpg);
  background-image: image-set(url(../img/water_2x.webp) 2x, url(../img/water_2x.jpg) 2x, url(../img/water.webp) 1x, url(../img/water.jpg) 1x);
}
@media (min-width: 576px) {
  .location__item_water:before {
    background-image: url(../img/water_tablet.jpg);
    background-image: image-set(url(../img/water_tablet_2x.webp) 2x, url(../img/water_tablet_2x.jpg) 2x, url(../img/water_tablet.webp) 1x, url(../img/water_tablet.jpg) 1x);
  }
}
.location__item_insects:before {
  background-image: url(../img/insects.jpg);
  background-image: image-set(url(../img/insects_2x.webp) 2x, url(../img/insects_tablet_2x.jpg) 2x, url(../img/insects.webp) 1x, url(../img/insects.jpg) 1x);
}
@media (min-width: 576px) {
  .location__item_insects:before {
    background-image: url(../img/insects_tablet.jpg);
    background-image: image-set(url(../img/insects_tablet_2x.webp) 2x, url(../img/insects_tablet_2x.jpg) 2x, url(../img/insects_tablet.webp) 1x, url(../img/insects_tablet.jpg) 1x);
  }
}
@media (min-width: 1024px) {
  .location__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: top left;
  }
}
.location__title {
  font-weight: 1000;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFAA05;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .location__title {
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
    padding: 0 20px;
    white-space: nowrap;
  }
}
@media (min-width: 1240px) {
  .location__title {
    font-size: 32px;
    padding: 0 30px;
  }
}
.location__description {
  color: #FFFFFF;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .location__description {
    display: none;
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
  }
}
@media (min-width: 1240px) {
  .location__description {
    padding: 0 30px;
    font-size: 20px;
  }
}
.location__video-bg {
  display: none;
}
@media (min-width: 1024px) {
  .location__video-bg {
    display: block;
  }
}

.career {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .career {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.career__content {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .career__content {
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    gap: 11px 21px;
    grid-template-areas: "title link" "description .";
  }
}
@media (min-width: 1024px) {
  .career__content {
    gap: 27px 31px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1240px) {
  .career__content {
    grid-template-columns: 690px min-content;
  }
}
.career__title {
  font-weight: 1000;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .career__title {
    grid-area: title;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .career__title {
    font-size: 52px;
  }
}
.career__description {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .career__description {
    grid-area: description;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .career__link {
    grid-area: link;
  }
}
@media (min-width: 768px) {
  .career__slider {
    overflow: visible;
  }
}
.career__image-item {
  height: unset;
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  .career__image-item {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .career__image-item_odd {
    width: 34%;
  }
  .career__image-item_even {
    width: 25%;
  }
}
@media (min-width: 1240px) {
  .career__image-item_odd {
    width: 27%;
  }
  .career__image-item_even {
    width: 20%;
  }
}
.career__image {
  border-radius: 16px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
}
@media (min-width: 576px) {
  .footer__container {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr max-content;
  }
}
@media (min-width: 1024px) {
  .footer__container {
    gap: 72px;
  }
}
.footer__logo {
  width: 200px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .footer__logo {
    width: 360px;
  }
}
.footer__social-list {
  display: flex;
  gap: 16px;
  margin-bottom: 52px;
}
@media (min-width: 576px) {
  .footer__social-list {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .footer__social-list {
    gap: 36px;
  }
}
.footer__social-link {
  display: block;
  width: 36px;
}
@media (min-width: 576px) {
  .footer__social-link {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .footer__social-link {
    width: 50px;
  }
}
.footer__developers {
  margin-bottom: 52px;
  line-height: 1;
}
@media (min-width: 576px) {
  .footer__developers {
    order: 2;
    margin-bottom: 0;
  }
}
.footer__developer {
  margin-bottom: 19px;
}
.footer__developer:last-child {
  margin-bottom: 0;
}
.footer__social-link, .footer__developer-link {
  color: #000000;
  outline: 2 px solid transparent;
  outline-offset: 2px;
  border-radius: 3px;
  transition: color 0.3s ease-in-out;
}
.footer__social-link:focus:not(:hover), .footer__developer-link:focus:not(:hover) {
  outline-color: #FFFFFF;
}
.footer__social-link:hover, .footer__developer-link:hover {
  color: #FFFFFF;
}

.page {
  padding-top: 120px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .page {
    padding-top: 216px;
    padding-bottom: 100px;
  }
}
.page__container {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .page__container {
    max-width: 980px;
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .page__container {
    max-width: 1142px;
    padding-left: 192px;
  }
}
@media (min-width: 1240px) {
  .page__container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
  }
}
.page__title {
  font-weight: 1000;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .page__title {
    font-size: 52px;
    margin-bottom: 40px;
  }
}
.page__text-block {
  margin-bottom: 40px;
}
.page__text-block:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .page__text-block {
    margin-bottom: 60px;
  }
}
.page__text {
  margin-bottom: 16px;
}
.page__text:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .page__text {
    margin-bottom: 20px;
  }
}
.page__image-block {
  margin-bottom: 40px;
}
.page__image-block:last-child {
  margin-bottom: 0;
}
.page__image-block_double {
  --gap: 18px;
}
@media (min-width: 576px) {
  .page__image-block_double {
    display: flex;
    gap: var(--gap);
  }
  .page__image-block_double .page__image {
    width: calc(50% - var(--gap) / 2);
  }
}
@media (min-width: 1024px) {
  .page__image-block_double {
    --gap: 20px;
  }
}
@media (min-width: 1240px) {
  .page__image-block_double {
    --gap: 30px;
  }
}
.page__image {
  object-fit: cover;
  border-radius: 16px;
  height: 308px;
}
.page__image:nth-child(2) {
  display: none;
}
@media (min-width: 576px) {
  .page__image {
    height: auto;
    flex-grow: 1;
  }
  .page__image:nth-child(2) {
    display: block;
  }
}

.page-nav {
  display: none;
}
@media (min-width: 1024px) {
  .page-nav {
    display: block;
    position: fixed;
    top: 216px;
    left: 30px;
  }
}
.page-nav__list {
  display: flex;
  flex-direction: column;
}
.page-nav__item {
  margin-bottom: 24px;
}
.page-nav__item:last-child {
  margin-bottom: 0;
}
.page-nav__link {
  font-weight: 1000;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}
.page-nav__link_active {
  color: #000000;
  pointer-events: none;
}